<a href="/members"><p>All Members<p></a> <a href="/gyms"><p>All Gyms<p></a>

<h1>#{@gym.name} show page</h1>

<p>Gym Name: <%= @gym.name %> </p>
<p>Location: <%= @gym.location %> </p>
<p>Owner: <%= @gym.franchise_owner %> </p>
<p> Number of Members: <%= @member_count %>

<a href="/gyms/<%= @gym.id %>/members"><p>Active Members at the Gym</p></a>