<h1>Update Member Page:</h1>

<%= form_with url: "/members/#{@member.id}", method: :patch, local: true do |form| %>
  <%= form.label :age %>
  <%= form.text_field :age %>
  <%= form.label :monthly_dues, "Monthly Dues" %>
  <%= form.text_field :monthly_dues %>
  <%= form.label :program_type, "Program Type" %>
  <%= form.text_field :program_type %>
  <%= form.hidden_field :member_id, value: @member.id %>
  <%= form.hidden_field :name, value: @member.name %>

  <%= form.submit "Update Member" %>
<% end %>